<html ng-app="ionicApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>Ask Alfred</title>

    <link href="css/ionic.app.css" rel="stylesheet">


    <!-- ionic/angularjs js -->


    <!-- cordova script (this will be a 404 during development) -->
    <!--<script src="cordova.js"></script>-->

    <!-- your app's js -->
    <!--<link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">-->
    <!--<script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>-->

    <script data-main="js/main" src="lib/require.js"></script>
    <script type="text/javascript" src="lib/exif-js/binaryajax.js"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="js/app.js"></script>

</head>

<body ng-controller="Messages">
    <ion-pane class="messaging-view">
        <ion-header-bar class="bar-calm">
            <h1 class="title">Ask Alfred</h1>
        </ion-header-bar>
        <ion-content class="content-stable" on-swipe-left="hideTime = false" on-swipe-right="hideTime = true">
            <div ng-repeat="message in messages" ng-class="{other: message.userId != myId}" class="messages">
                <div class="message" ng-class="{'slide-right': hideTime, '': !hideTime}">
                    <span>{{ message.text }}</span>
                    <div ng-show="message.htmlSnippet=='fileUpload'">
                        <input class="file-input" type="file" onclick="hack.bindFileUpload()"/>
                    </div>
                </div>
                <div class="time" ng-class="{'slide-right': hideTime, '': !hideTime}">{{message.time}}</div>
            </div>
        </ion-content>

        <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
            <label class="item-input-wrapper">
                <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
            </label>
            <button class="button button-clear" ng-click="sendMessage()">
                Send
            </button>
        </ion-footer-bar>
    </ion-pane>
    <script type="text/javascript" src="lib/exif-js/exif.js"></script>
</body>

</html>